.date-range-input {
    width: 100%;
    text-align: center;
}

.filtered-events {
    width: 80%;
}

.btn-group {
    margin-right: 10%;
}

.add-image-container {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100vw;
}

.upload-btn {
    width: 20%;
}

.border-gradient-purple {
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left, #743ad5 0%, #d53a9d 100%);
    padding-right: 7%;
}