.history-heading {
    color: #388ffb;
}

.event-card-capacity{
    color: grey;
}

.event-card-date {
    color: grey;
}

.event-card-time {
    color: grey;
}

.user-list {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 23%;
    margin-right: 13%;
}

.event-card-created-by {
    color: green;
}

.event-card-host {
    color: grey;
}

.event-card-delete {
    margin-top: 1%;
}